body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(88, 167, 170);
}

h1 {
  padding: 1rem;
}

li {
  padding: 2rem;
}

a {
  text-decoration: none;
}